<p>Title: <%= post.title %></p>
<p>Body: <%= post.body %></p>
<p>User: <%= post.user %></p>



<%= link_to "Show Page", post if action_name == "index" %> |
<%= link_to "Edit Page", edit_post_path(post) %>

<p>----------------------------------------------</p>

<br>
