<div class="post-container">

	<h1><%= @post.title %></h1>

	  <p><%= @post.body %></p>
	  <p>Email: <%= @post.email %></p>
	 
	<br>

	<%= link_to "Edit", edit_post_path(@post) %>
	<%= link_to "Back", posts_path %>

	<%= link_to "Destroy", @post, method: :delete, data: { confirm: "Are you sure?" } %>

	<%= link_to "New comment", new_post_comment_path(@post, @comment)%>
</div>
 <%= render @post.comments %>